{% extends 'base.html.twig' %}

{% block title %}Hello JugadorController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="">
    <h1 class="display-1">Jugadores</h1>

    <section class="alert alert-info">
        <p>En este apartado puedes dar de alta jugadores o todos los que estan disponibles para la simulaciones.</p>
        <button class="btn btn-success"> Nueva jugador</button>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inscModal">Alta masiva</button>
        <a href="{{ path('app_menu') }}" class="btn btn-dark">Volver al menú</a>
    </section>

     <br>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Jugador</th>
                <th>genero</th>
                <th>Saque</th>
                <th>Fondo</th>
                <th>Volea</th>
                <th>Movilidad</th>
                <th>Resistencia</th>
                <th>Velocidad</th>
                <th>Fuerza</th>
                <th>Reacción</th>
            </tr>
        </thead>
        <tbody>
        {% for jugador in jugadores %}
            <tr>
                <td>{{ jugador.id }}</td>
                <td>{{ jugador.nombre }} {{ jugador.apellido }}</td>
                <td>
                {% if jugador.genero %}
                {{ jugador.genero }}
                </td>
                <td>{{ jugador.saque }}</td>
                <td>{{ jugador.fondo }}</td>
                <td>{{ jugador.volea }}</td>
                <td>{{ jugador.movilidad }}</td>
                <td>{{ jugador.resistencia }}</td>
                <td>{{ jugador.velocidad }}</td>
                <td>{{ jugador.fuerza }}</td>
                <td>{{ jugador.reaccion }}</td>
            </tr>   
        {% else %}
            <tr>
                <td colspan="2">No hay partidos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
