{% extends 'base.html.twig' %}

{% block title %}Inscripciones{% endblock %}

{% block body %}

    <!-- Modal -->
    <div class="modal fade" id="inscModal" tabindex="-1" aria-labelledby="inscModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="inscModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <label for="">
                        <span>Torneo</span>
                        <input type="input" name="idTorneo" id="idTorneo">
                    </label>
                </form>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>


    <h1 class="display-1">Inscripciones</h1>

    <section class="alert alert-info">
        <p>Asegurese de tener a los jugadores registrados antes de proceder con la inscripción</p>
        <button class="btn btn-success"> Nueva inscripción</button>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inscModal">Inscripcion aleatorea</button>
    </section>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Jugador</th>
                <th>Torneo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for inscripcion in inscripciones %}
            <tr>
                <td>{{ inscripcion.id }}</td>
                <td>{{ inscripcion.jugador1.nombre }}</td>
                <td>{{ inscripcion.torneo.nombre }}</td>
                <td><button class="btn btn-danger">Eliminar</button></td>
            </tr>   
        {% else %}
            <tr>
                <td colspan="2">No hay partidos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
