{% extends 'base.html.twig' %}

{% block title %}Hello InscripcionController!{% endblock %}

{% block body %}
    <!-- Modal -->
    <div class="modal fade" id="inscModal" tabindex="-1" aria-labelledby="inscModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        {{ form_start(inscForm) }}
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="inscModalLabel">Inscripciones aleatoreas</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="form-group">
            {{ form_label(inscForm.nombre) }}
            {{ form_widget(inscForm.nombre, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(inscForm.nombre) }}
        </div>
        <br>
        <div class="form-group">
            {{ form_label(inscForm.genero) }}
            {{ form_widget(inscForm.genero, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(inscForm.genero) }}
        </div>
        <br>
        <div class="form-group">
            {{ form_label(inscForm.cantidad) }}
            {{ form_widget(inscForm.cantidad, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(inscForm.cantidad) }}
        </div>
        <br>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
        {{ form_end(inscForm) }}
        </div>
    </div>
    </div>



    <h1 class="display-1">Inscripciones</h1>

    <section class="alert alert-info">
        <p>Asegurese de tener a los jugadores registrados antes de proceder con la inscripción</p>
        <button class="btn btn-success"> Nueva inscripción</button>
        <button class="btn btn-success">Inscripcion aleatorea</button>
    </section>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Jugador</th>
                <th>Torneo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for inscripcion in inscripciones %}
            <tr>
                <td>{{ inscripcion.id }}</td>
                <td>{{ inscripcion.jugador1.nombre }}</td>
                <td>{{ inscripcion.torneo.nombre }}</td>
                <td><button class="btn btn-danger">Eliminar</button></td>
            </tr>   
        {% else %}
            <tr>
                <td colspan="2">No hay partidos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
