{% extends 'base.html.twig' %}

{% block title %}Hello InscripcionController!{% endblock %}

{% block body %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>


    <h1 class="display-1">Inscripciones</h1>

    <section class="alert alert-info">
        <p>Asegurese de tener a los jugadores registrados antes de proceder con la inscripción</p>
        <button class="btn btn-success"> Nueva inscripción</button>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inscModal">Inscripcion aleatorea</button>
    </section>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Jugador</th>
                <th>Torneo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for inscripcion in inscripciones %}
            <tr>
                <td>{{ inscripcion.id }}</td>
                <td>{{ inscripcion.jugador1.nombre }}</td>
                <td>{{ inscripcion.torneo.nombre }}</td>
                <td><button class="btn btn-danger">Eliminar</button></td>
            </tr>   
        {% else %}
            <tr>
                <td colspan="2">No hay partidos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
