{% extends 'base.html.twig' %}

{% block title %}Hello InscripcionController!{% endblock %}

{% block body %}
    <h1 class="display-1">Inscripciones</h1>

    <section class="alert "></section>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Jugador</th>
                <th>Torneo</th>
            </tr>
        </thead>
        <tbody>
        {% for inscripcion in inscripciones %}
            <tr>
                <td>{{ inscripcion.id }}</td>
                <td>{{ inscripcion.jugador1.nombre }}</td>
                <td>{{ inscripcion.torneo.nombre }}</td>
            </tr>   
        {% else %}
            <tr>
                <td colspan="2">No hay partidos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
