{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
<style>
  
</style>

<div class="container">

    <section class="alert alert-info">
        <h1 class="display-1">CARGANDO ...</h1>
    href

    <a class="btn btn-success" href="{{ path('app_torneo') }}">Volver</a>
    </section>

  </tbody>
</table>
    </section>
</div>
{% endblock %}
