{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
<style>
  
</style>

<div class="container">

    <section class="alert alert-">
        <h1 class="display-1">CARGANDO ...</h1>
    </section>

    <a href="{{ path('app_organizar') }}">Redireccionar</a>

  </tbody>
</table>
    </section>
</div>
{% endblock %}
