{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
<style>
  .botonera td{
    padding: 5px;
  }
</style>

<div class="container">

    <section class="alert alert-">
        <h1 class="display-1">Detalle del Torneo</h1>

        <br>

      <section class="alert alert-info">
        <p>Revisa los detalles y realiza la simulacion del torneo</p>
        <hr>

        <table class="botonera">
          <td><button id="simularTorneoBtn" class="btn btn-primary">Simular torneo</button></td>
          <td><a href="{{ path('app_menu') }}" class="btn btn-dark">Volver al menú</a></td>
        </table>

        <!-- Modal para mostrar mensajes de éxito o error -->
        <div class="modal fade" id="resultadoModal" tabindex="-1" aria-labelledby="resultadoModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="resultadoModalLabel">Resultado de la simulación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="resultadoModalBody">
                <!-- Aquí se mostrarán los mensajes de éxito o error -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    
    <section>
      <h2>Resultados</h2>


          {% set etapasTotal = torneo.etapas %}

          {% for etapa in range(1, torneo.etapas) %}
          <h3 >Etapa {{ etapa }}</h3>
          <hr>
          <table class="table table-sm">
            <tbody>
              {% for resultado in resultados|filter(r => r.etapa == etapa) %}
                <tr>
                  <td>
                    {{ resultado.partido.jugador1.nombre }} {{ resultado.partido.jugador1.apellido }}
                    {% if resultado.ganador == resultado.partido.jugador1 %}
                      <span class="badge rounded-pill text-bg-success">win</span>
                    {% endif %}
                  </td>

                  <td>
                    {{ resultado.partido.jugador2.nombre }} {{ resultado.partido.jugador2.apellido }}
                    {% if resultado.ganador == resultado.partido.jugador2 %}
                      <span class="badge rounded-pill text-bg-success">win</span>
                    {% endif %}
                  <td>
                    
                   
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}

     
    </section>

    <section>
      <h2>Inscriptos</h2>
      
      <div class="row row-cols-1 row-cols-md-4 row-cols-lg-5 row-cols-sm-1 g-4">
        {% for inscripto in inscriptos %}
          
      <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fa-solid fa-circle-user"></i>
                {{ inscripto.jugador1.nombre }} {{ inscripto.jugador1.apellido }}</h5>
                <hr>
              <table class="table table-sm">
  
                  <tr>
                    <td>Saque(servicio)</td>
                    <td>{{ inscripto.jugador1.saque }}</td>
                  </tr>
                  <tr>
                    <td>Fondo</td>
                    <td>{{ inscripto.jugador1.fondo }}</td>
                  </tr>
                  <tr>
                    <td>Volea</td>
                    <td>{{ inscripto.jugador1.volea }}</td>
                  </tr>
                  <tr>
                    <td>Movilidad</td>
                    <td>{{ inscripto.jugador1.movilidad }}</td>
                  </tr>
                  <tr>
                    <td>Resistencia</td>
                    <td>{{ inscripto.jugador1.resistencia }}</td>
                  </tr>
                  <tr>
                    <td>Velocidad</td>
                    <td>{{ inscripto.jugador1.velocidad }}</td>
                  </tr>
                  <tr>
                    <td>Fuerza</td>
                    <td>{{ inscripto.jugador1.fuerza }}</td>
                  </tr>
                  <tr>
                    <td>Reacción</td>
                    <td>{{ inscripto.jugador1.reaccion }}</td>
                  </tr>
   
              </table>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    
    $('#simularTorneoBtn').on('click', function() {
     
      var idTorneo = 1;

      var data = {
        'torneo': idTorneo
      };

      $.ajax({
        url: '/simulaciones', 
        method: 'POST', 
        contentType: 'application/json', 
         data: JSON.stringify(data),
        success: function(response) {
        
          $('#resultadoModalBody').html('<p><i class="fa-regular fa-face-laugh-beam"></i> La simulacion se realizó con exito</p><p> <i class="fa-solid fa-baseball"></i> El Ganador del Torneo es ' + response.message + '</p>');
          $('#resultadoModal').modal('show');
        },
        error: function(xhr, status, error) {
         
          $('#resultadoModalBody').html('<p>' + xhr.responseJSON.error + '</p>');
          $('#resultadoModal').modal('show');
        }
      });
    });
  });
</script>

{% endblock %}
