{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
<style>
  .botonera td{
    padding: 5px;
  }
</style>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container">

    <section class="alert alert-">
        <h1 class="display-1">Torneos</h1>

        <br>

      <section class="alert alert-info">
        Los torneos tienen etapas determinas por la cantidad de participantes del mismo, para iniciar el torneo se debe contar con la cantidad de jugadores configurada al crear el torneo
        <hr>

        <table class="botonera">
          <td><a href="#" class="btn btn-primary">Nuevo Torneo</a></td>
          <td><a href="{{ path('app_menu') }}" class="btn btn-dark">Volver al menú</a></td>
        </table>

        

      </section>
    </section>

    {{ form_start(torneoForm) }}
      {{ form_row(torneoForm.nombre) }}
      {{ form_row(torneoForm.genero) }}
      {{ form_row(torneoForm.cantidad) }}
    <button type="submit">Enviar</button>
    {{ form_end(torneoForm) }}


    <section>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Jugadores</th>
            <th scope="col">Etapas</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for torneo in torneos %}
            <tr>
            <th scope="row">{{ torneo.id }}</th>
            <td>{{ torneo.nombre }}</td>
            <td>
              {% if torneo.genero == true %}
                Masculino
              {% else %}
                Fenemino
              {% endif %}
            </td>
            <td>{{ torneo.cantidad }}</td>
            <td>{{ torneo.etapas }}</td>
            <td> <button class="btn btn-success"> Detalle </button>  </td>
            <td> <button class="btn btn-success"> Sorteo </button>  </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
</div>
{% endblock %}
