{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Listado de </h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/app/src/Controller/TorneoController.php</code></li>
        <li>Your template at <code>/app/templates/torneo/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
